#title{
    color: red;
}

/* .title{
    color: red;
} */

p{
    color: green;
}

/* .content h2{
    color:red;
}
.box h2{
    color:blueviolet;
} */

.content >h2{
    color:red;
}
.content > div > h2{
    color: green;
}
.menu > li a{
    color: red;
}

h2.title{
    color: red;
}