.box{
    height: 1000px;
    background-image:url(https://fastly.picsum.photos/id/24/1000/500.jpg?hmac=lH80gvMW_KKhpd6tLcTyxDTvHBSRLF9rkdNpIL9rI2I);
    background-repeat: no-repeat;
    background-position: 0 0;
    
}