.btn-wrap{
    text-align: center;
}

.btn{
    border: none;
    background-color: green;
    color: white;
    height: 30px;
    border-radius: 99px;
}

.box{
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 100%;
}