*{
    padding: 0;
    margin: 0;
}

h2{
    border:1px solid red;
}

/* .first{
    margin-bottom: -10px;
}

.last{
    margin-top:-20px;
} */

.banner{
    background-color: green;
    color: white;
    /* border: 1px solid transparent; */
    /* display: flex; */
    display: inline-block;
    width: 100%;
}

.banner h1{
    margin: 30px 0;
    /* padding: 30px 0; */
}